body {
  font-family: 'Noto Sans', sans-serif;
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}

.dperact {
  font-variant: small-caps;
}

.teaser .hero-body {
  padding-top: 0;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}

.teaser video {
  object-fit: fill;
  
}
#glass{
  margin-left: -10px;
}

.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(121, 100%, 36%) !important;
}

.conference-authors a {
   color: #B83A4B !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}

.interpolation-panel {
  background: #f5f5f5;
  border-radius: 10px;
}

.interpolation-panel .interpolation-image {
  width: 100vh;
  background-size: cover;
  border-radius: 5px;
}

.interpolation-video-column {
}

.interpolation-panel .slider {
  margin: 0 !important;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

#interpolation-image-wrapper {
  width: 100%;
}
#interpolation-image-wrapper img {
  border-radius: 5px;
}

#interpolation-image img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

 .dropdown-item{
    white-space: pre-wrap;
}  


.justify {
  text-align: justify;
}

.instruction-panel {
  height: 70px; 
  overflow: hidden; 
  display: flex; 
  align-items: top;
  justify-content: center;
  border: 2px solid #479ac7;
  border-radius: 8px; 
  background-color: #479ac7;
  margin-bottom: 10px;
  color: #f5f5f5;
  padding: 5px 10px;
  overflow-y: auto;
  font-size: 14px;
  font-family: 'Calibri', sans-serif;
}

.navbar.is-primary {
  background-color: #111211 !important;
  color: #ffffff !important;
  opacity: 0.7;
}

.text-homepage-1{
  font-family: 'Georgia', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8;
  margin: 10px 0;
}

.icon-box {
  border: 2px solid #dbdbdb;
  border-radius: 8px; 
  padding: 10px; 
  display: flex; 
  justify-content: space-around; 
  align-items: center; 
  max-width: 300px; 
  margin: 20px auto; 
}

.icon-box a {
  color: #4a4a4a; 
  font-size: 24px; 
  transition: color 0.3s ease; 
}

.icon-box a:hover {
  color: #3273dc; 
}

html {
  scroll-behavior: smooth; 
}

.paper-container {
  display: flex;
  gap: 20px; 
  background-color: #fff; 
  padding: 20px;
  border-radius: 8px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  margin-top: 20px;
  margin-bottom: 20px;
}

.paper-image {
  flex: 0 0 30%; 
  max-width: 300px; 
  height: auto;
  border-radius: 8px; 
}

.paper-content {
  flex: 1; 
}

.paper-title {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 0 10px;
}

.paper-authors {
  margin: 0 0 10px;
  font-size: 14px;
}

.paper-link {
  font-size: 1em;
  color: #6c94c0; 
  text-decoration: none;
}

.paper-link:hover {
  text-decoration: underline;
}

.paper-description {
  font-size: 14px;
  margin: 0 0 10px;
  font-style: italic;
  font-family: 'Chalkboard', sans-serif;
  padding: 5px;
  /* background-color: rgba(18, 216, 160, 0.6); */
  border-radius: 5px;
  
}

#canvas-container {
  position: relative;
  margin: auto;
  width: 300px;
  height: 300px;
}

canvas {
  display: block;
}

ul {
  display: none;
}

.arrow-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5em;
  color: #007bff;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.arrow-btn:hover {
  background-color: #007bff;
  color: #fff;
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}

.card-container {
  position: relative;
  width:400px;
  height:150px;
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: rgba(40, 38, 38, 0.5);
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.5s ease-in-out;
  background-color: rgba(40, 38, 38, 0.5);
}

.card.active {
  opacity: 1;
  transform: translateX(0);
}

.card-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
  color: aliceblue;
}

.card-description {
  font-size: 1em;
  color: #666;
  text-align: center;
  padding: 0 20px;
  font-family:Arial, sans-serif;
  color: aliceblue;
}
